# Dotfiles
.*
!.gitignore
!.golangci.yml
!.gomarklint.json

# CI
!/.forgejo/

# Developer environments
!.dev/

# Build and debug artifacts
/build/
site/static/scampi.png
site/static/install.sh
__debug*
*.zip
*.out
*.test
