# Dotfiles
.*
!.gitignore
!.gitattributes
!.golangci.yml
!.gomarklint.json

# CI
!/.forgejo/
!/.github/

# Developer environments
!.dev/

# Build and debug artifacts
/build/
site/static/scampi.png
site/static/install.sh
site/static/cli.sh
site/static/lsp.sh
__debug*
*.zip
*.out
*.test
